.icon {
  font-size: 40px
}

.home-card {
  padding: 25px;
  border-color: rgba(30, 141, 248, 0.9);
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width:961px) {
  .home-card {
    width: 20vw;
    min-width: 240px;
    height: 190px;
  }
}

.home-card h1 {
  padding: 10px;
  margin: 0;
}

.home-card button {
  width: 80px;
}