.app-layout {
  height: 100vh;
  padding: 20vh 0;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width:961px) {
  .app-layout {
    max-width: 300px;
  }
}